<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Medium Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navfont custom-navbar">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="nabbar-brand bigbrand" href="{% url 'post_list' %}">My Blog</a></li>
                <li><a href="{% url about %}"></a></li>
                <li><a href="http://github.com/wchrapcynski">Github</a></li>
                <li><a href="https://www.linkedin.com/in/william-chrapcynski/">LinkedIn</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'post_new' %}">New Post</a></li>
                    <li><a href="{% url 'post_draft_list' %}">Drafts</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li>Welcome: {{ user.username }}</li>
                {% else %}
                    <li><a class="nav navbar-right" href="{% url 'login' %}"><span class="glyphyicon glyphyicon-user"></span></a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Content Block -->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog_posts">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>
